# Created by Vercel
VERCEL_OIDC_TOKEN=xxx

# Deployment used by convex
CONVEX_DEPLOYMENT=dev:xxx

NEXT_PUBLIC_CONVEX_URL=https://xxx.convex.cloud

NEXT_PUBLIC_CONVEX_SITE_URL=https://xxx.convex.site

# Clerk setup
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_xxx
CLERK_SECRET_KEY=sk_test_xxx

# API keys
GOOGLE_GENERATIVE_AI_API_KEY=AIxxx
E2B_API_KEY=e2b_xxx

# Slack setup
SLACK_WEBHOOK_URL=https://xxx

# GitHub setup
GITHUB_TOKEN=xxx
GITHUB_REPO_OWNER=egeuysall
GITHUB_REPO_NAME=talon
